/*-----------------------------------------------------------------------------------
	    Yogesh Singh Portfolio
        Built with Blocs
-----------------------------------------------------------------------------------*/
 
body{
	margin:0;
	padding:0;
    background:rgba(255,255,255,0.0);
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow-x:hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent ugly blue glow on chrome and safari */
a:hover{text-decoration: none; cursor:pointer;}


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 50px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xl{
    padding:150px 50px;
}
.bloc-lg{
	padding:100px 50px;
}
.bloc-md{
	padding:50px;
}

/* = Full Screen Blocs 
-------------------------------------------------------------- */

.bloc-fill-screen{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
}
.bloc-fill-screen > .container{
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
}
.bloc-fill-screen > .container > .row{
	flex-grow: 1;
	align-self: center;
	width:100%;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
	flex-grow: 0;
}
.bloc-fill-screen .fill-bloc-top-edge{
	align-self: flex-start;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
	align-self: flex-end;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}

/* Dark theme */

.d-bloc{
    color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
    color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
    border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
    border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
    color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
    color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
    background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
    color:rgba(255,255,255,1);
    border-color:rgba(255,255,255,1);
}
.d-bloc .card{
    color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
    color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
    border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
    border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
    color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
    color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
    color:rgba(0,0,0,.7);
    border-color:rgba(0,0,0,.3);
}

/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset-md{
	margin-top:50px;
}
.voffset-lg{
	margin-top:80px;
}
/* Dividers */

.b-divider-dashed{
	border-top:1px dashed rgba(0,0,0,.1);
	border-bottom:1px dashed rgba(0,0,0,.1);
}


/* = NavBar
-------------------------------------------------------------- */

.hero .hero-nav{
	padding-left:inherit;
	padding-right:inherit;
}
/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky{
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	 transition: all .2s ease-out;
}
.fill-bloc-top-edge.sticky{
	background-color:rgba(0, 0, 0, 0);
	width:100%;
	max-width: 100%;
	margin-top: 0;
	left:0;
	right:0;
}
.fill-bloc-top-edge.sticky .navbar{
	max-width: 1170px;
	margin: 0 auto;
}
/* Handle Multi Level Navigation */.navbar-light .navbar-nav .nav-link {
	color: #000000;
}
.btco-menu li > a {
	padding: 10px 15px;
	color: #000;
}
.btco-menu .active a:focus,.btco-menu li a:focus ,.navbar > .show > a:focus{
	background: transparent;
	outline: 0;
}
.dropdown-menu .show > .dropdown-toggle::after{
	transform: rotate(-90deg);
}

/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-clean{
	border:1px solid rgba(0,0,0,.08);
	border-bottom-color:rgba(0,0,0,.1);
	text-shadow:0 1px 0 rgba(0,0,1,.1);
	box-shadow: 0 1px 3px rgba(0,0,1,.25), inset 0 1px 0 0 rgba(255,255,255,.15);
}
.btn-wire{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-wire:hover{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-xl{
    padding: 16px 40px;
    font-size: 28px;
}
.icon-spacer{
	margin-right:5px;
}
.dropdown a .caret{
	margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
	padding: 3px 20px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-sm{
	font-size:20px!important;
}
.icon-md{
	font-size:30px!important;
}
.icon-lg{
	font-size:40px!important;
}


/* = Text & Icon Styles
-------------------------------------------------------------- */
.blockquote{
	padding:0 20px;
	border-left:2px solid;
}
.blockquote.text-right{
	border-left:0;
	border-right:2px solid;
}

/* = Lists
-------------------------------------------------------------- */
.list-sp-md li{
	padding-bottom:10px;
}
.list-sp-lg li{
	padding-bottom:20px;
}
.list-sp-md li:last-child,.list-sp-lg li:last-child,.list-sp-xl li:last-child{
	padding-bottom:0;
}

/* = Cards
-------------------------------------------------------------- */
.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}



/* iFrame */

iframe{
	border:0;
}
/* Additional Aspect Ratios */

.embed-responsive-4by3{
	padding-bottom:100%}.embed-responsive-4by4{
	padding-bottom:100%}.embed-responsive-9by16{
	padding-bottom:106.25%}/* Scroll FX */
.scroll-fx-in-range{
	will-change: opacity;
}


/* ScrollToTop button */

.scrollToTop{
	width:40px;
	height:40px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity: 0;
	z-index: 500;
	transition: all .3s ease-in-out;
}
.scrollToTop:hover{
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}
.scrollToTop span{
	margin-top: 6px;
}
.showScrollTop{
	font-size: 14px;
	opacity: 1;
}
/* = Lightbox
-------------------------------------------------------------- */

a[data-lightbox]{
	position: relative;
	display: block;
	text-align: center;
}
a[data-lightbox]:hover::before{
	content:"+";
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	font-size:32px;
	line-height: 42px;
	width:50px;
	height:50px;
	margin-left:-25px;
	border-radius: 50%;
	background:rgba(0,0,0,.6);
	color:#FFF;
	font-weight:100;
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
a[data-lightbox]:hover img{
	opacity: 0.6;
	-webkit-animation-fill-mode: none;
	animation-fill-mode:none;
}
.lightbox-caption{
	padding: 20px;
	color: #FFF;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 15px;
	right: 15px;
	bottom: 5px;
}
.close-lightbox{
	color:#FFF;
	font-size: 30px;
	position: absolute;
	top:20px;
	right:20px;
	z-index: 20;
	background:rgba(0,0,0,.5);
	border:none;
	line-height: 30px;
	padding:0 9px 5px;
	opacity: 0.3;
	border-radius:.25rem;
}
.close-lightbox:hover{
	opacity: 1.0;
	color:#FFF;
}

.next-lightbox:hover, .prev-lightbox:hover{
    color: black;
}

.next-lightbox, .prev-lightbox{
	font-size:20px;
	color:black;
	transition: all .2s ease-in-out;
	position: absolute;
	top:45%;
	z-index:1;
	opacity: 0.4;
}
.next-lightbox{
	padding:6px 8px 1px 13px;
	right:25px;
}
.prev-lightbox{
	padding:6px 13px 1px 10px;
	left:25px;
}

/* Full Screen */
.fullscreen-lb{
	background:#000;
	border-radius: 0;
}
.fullscreen-lb .modal-body{
	padding:0;
}
.fullscreen-lb .lightbox-caption{
	left:0;
	right:0;
	bottom:-10px;
	text-align:center;
}
.fullscreen-modal{
	background:#000;
}
.fullscreen-modal .modal-dialog{
	width:100%!important;
	max-width:95%!important;
}

/* Modal Full Screen Close Button */
.close-full-screen-modal{
	position: fixed;
	display: block;
	width: 25px;
	height:25px;
	top:16px;
	right:10px;
	z-index: 10000;
}
.close-full-screen-modal .close-icon{
	display: block;
	width:100%;
	height:1px;
	background: #fff;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top:12px;
}
.close-full-screen-modal .close-icon{
	height:2px;
}
.close-full-screen-modal .close-icon:after{
	content:"";
	display:inherit;
	width:inherit;
	height:inherit;
	background: inherit;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.close-full-screen-modal{
	right:20px;
}

/* = Custom Styling
-------------------------------------------------------------- */

    .home-nav {
        padding: 0px 15px 0px 15px !important;
    }

h1 {
	font-family:"Red Hat Display";
	color:#000000!important;
	font-weight: 700;

}

h2, h3, h4, h5, h6 {
	font-family:"Red Hat Display";
	color:#000000!important;
	font-weight: 500;
}

label, .btn, a {
	font-family: "Red Hat Text";
	font-weight: 500;
}

p {
	font-family: "Red Hat Text";
	color: #000000 !important;
	font-weight: 400;
	line-height: 2;
}

.container{
	max-width:1140px;
}
.h3-style{
	font-size:72px;
}
.h1-style{
	width:100%;
	font-size:36px;
	line-height:48px;
}
.h4-style{
	font-family:"Red Hat Display";
	font-size:16px;
	font-weight: 500;
}
.h5-style{
	font-size:20px;
}
.proj-link{
	display:inline-block;
	overflow:visible;
	float:none;
	font-size:18px;
}

.proj-link {
    display: inline-block;
    position: relative;
    color: #474E51;
}

.proj-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2A5DB0;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.proj-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.link-style{
	width:86%;
	font-family:"Red Hat Text";
	font-weight: 500;
}
.col{
	padding:15px 15px 15px 15px;
}
.personal-pic{
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);
}
.container-div-style{
	width:5%;
}
.navbar-brand img{
	width:40px;
	height:40px;
}
.img-norm-style{
	width:380px;
	height:478px;
}
.img-diseas-style{
	width:380px;
	height:478px;
}
.link-new-text-link-style{
	width:89.38%;
	font-size:25px;
	color:#FEFFFF!important;
}
.link-new-text-link-style:hover{
	color:#FEFFFF!important;
}
.next-proj-btn:hover{
	border-style:solid;
}
.link-bloc-20-style{
	width:96.04%;
}
.container-div-bloc-20-style{
	width:6.25%;
}
.h3-2-style{
	font-size:72px;
}
.h3-3-style{
	font-size:72px;
}
.p-style{
	line-height:30px;
}
.p-43-style{
	line-height:30px;
}
.p-bloc-25-style{
	line-height:30px;
}
.h5-2014-style{
	letter-spacing:0px;
}
.img-bedonorlo-style{
	width:337px;
	height:339px;
}
.img-visual-harmony-style{
	height:1500px;
	width:825px;
}
.img-bloc-28-style{
	width:960px;
	height:440px;
}
.img-screen-mockup0-style{
	width:810px;
	height:811px;
}
.img-25-style{
	width:40px;
	height:40px;
}
.img-screen-mockup2-style{
	width:810px;
	height:740px;
}
.img-27-style{
	width:810px;
	height:737px;
}
.results-image{
	padding:10% 10% 10% 10%;
}
.logo-gif{
	padding:0% 0% 0% 0%;
}
.h3-25-style{
	font-size:72px;
}
.h3-26-style{
	font-size:72px;
}
.h3-27-style{
	font-size:72px;
}
.h3-18-style{
	font-size:72px;
}
.h3-19-style{
	font-size:72px;
}
.h3-20-style{
	font-size:72px;
}
.p-76-style{
	font-size:24px;
}
.p-77-style{
	font-size:24px;
}

.p-bloc-1-style{
	line-height:30px;
}
.proj-link:hover{
	background-color:transparent;
	background-clip:text!important;
	-webkit-background-clip:text!important;
}
.card{
	padding:1% 1% 1% 1%;
}
.proj-img{
    box-shadow: 0 1px 1px rgba(0,0,0,0.03), 
              0 2px 2px rgba(0,0,0,0.03), 
              0 4px 4px rgba(0,0,0,0.03), 
              0 6px 8px rgba(0,0,0,0.03),
              0 8px 16px rgba(0,0,0,0.03);
    transition: all 0.4s ease-in-out;
}
.proj-img:hover{
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
    transition: box-shadow 0.6s ease-in-out;
}
.project{
	padding:20px 20px 20px 20px;
    margin-bottom: 25px;
}
.img-axure-icon-1-style{
	width:40px;
	height:40px;
}
.img-photosh-style{
	width:40px;
	height:40px;
}
.img-style{
	width:40px;
	height:40px;
}
.img-illustrat-style{
	width:40px;
	height:40px;
}
.img-premiere-pro-style{
	width:40px;
	height:40px;
}
.img-bloc-7-style{
	width:40px;
	height:40px;
}
.img-8cnimuku-400x4-style{
	width:40px;
	height:40px;
}
.img-41-style{
	width:40px;
}
.img-42-style{
	width:40px;
}
.img-38-style{
	width:40px;
	height:40px;
}
.img-43-style{
	width:40px;
	height:40px;
}
.h3-bloc-0-style{
	font-size:20px;
}
.h3-39400-style{
	font-size:16px;
}
.h1-bloc-1-style{
	font-size:36px;
}
.h3-bloc-49-style{
	font-size:16px;
    line-height:30px;
}
.img-img-8492--style{
	width:300px;
	height:400px;
}
.p-bloc-49-style{
	font-size:16px;
}
.h4-bloc-47-style{
	font-size:16px;
}
.p-19-style{
	line-height:30px;
}
.btn-style{
	border-radius:0px 0px 0px 0px;
}
.h1-bloc-63-style{
    font-size:60px;
}
.feature-col-mt{
    margin-top:29px;
}
.hero-first-col-mb{
    margin-bottom:30px;
}
.img-85-style{
    width:40px;
    height:40px;
}
.img-86-style{
    width:40px;
    height:40px;
}
.img-87-style{
    width:40px;
    height:40px;
}
.p-146-style{
    line-height:30px;
}
.h3-45-style{
    font-size:72px;
}
.h3-46-style{
    font-size:72px;
}
.h3-47-style{
    font-size:72px;
}
.p-177-style{
    line-height:30px;
}
.p-bloc-76-style{
    line-height:30px;
}
.p-bloc-77-style{
    line-height:30px;
}
.p-bloc-78-style{
    line-height:30px;
}
.p-166-style{
    line-height:30px;
}
.p-173-style{
    line-height:30px;
}
.p-bloc-75-style{
    line-height:30px;
}
.p-bloc-70-style{
    line-height:30px;
}
.footer-btn1, .footer-btn2 {
    margin-bottom: 15px;
}
.p-bloc-21-style{
	font-family:"Red Hat Display";
	font-weight:500:400,400i,500,500i,700,700i&display=swap&subset=latin-ext;
}
.h2-48-style{
	font-size:72px;
}
.h2-49-style{
	font-size:72px;
}
.h2-50-style{
	font-size:72px;
}

.ventra-video {
    margin-top:25px;
    margin-bottom:25px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-white{
	background-color:#FFFFFF;
	}
.bgc-ucla-blue{
    background-color:#4165A9;
}

/* Text colour styles */

.tc-gray-htmlcss-gray{
    color:#797979!important;
}
.tc-dark-jungle-green{
    color:#202121!important;
}
.tc-cerulean-blue{
    color:#2A5DB0!important;
}
.tc-carmine-pink{
    color:#E64C3C!important;
}
.tc-white{
    color:#FFFFFF!important;
}

/* Button colour styles */

.btn-medium-sea-green{
    background:#4CAF50;
    color:#FFFFFF!important;
}
.btn-medium-sea-green:hover{
    background:#3d8c40!important;
    color:#FFFFFF!important;
}
.btn-dodger-blue{
	background:#26A1F9;
	color:#FFFFFF!important;
}
.btn-dodger-blue:hover{
	background:#1e81c7!important;
	color:#FFFFFF!important;
}
.btn-carmine-pink{
    background:#E64C3C;
    color:#FFFFFF!important;
}
.btn-carmine-pink:hover{
    background:#b83d30!important;
    color:#FFFFFF!important;
}
.btn-rich-electric-blue{
    background:#1892CE;
    color:#FFFFFF!important;
}
.btn-rich-electric-blue:hover{
    background:#1375a5!important;
    color:#FFFFFF!important;
}
.btn-ucla-blue{
    background:#4165A9;
    color:#FFFFFF!important;
}
.btn-ucla-blue:hover{
    background:#345187!important;
    color:#FFFFFF!important;
}
.btn-electric-blue{
    background:#88F2F9;
    color:rgba(0,0,0,.5)!important;
}
.btn-electric-blue:hover{
    background:#6dc2c7!important;
    color:rgba(0,0,0,.5)!important;
}
.wire-btn-dark-jungle-green{
    color:#202121!important;
    border-color:#202121!important;
}

/* Link colour styles */

.ltc-cerulean-blue{
    color:#2A5DB0!important;
}
.ltc-cerulean-blue:hover{
    color:#224a8d!important;
}

/* Icon colour styles */

.icon-cerulean-blue{
	color:#2A5DB0!important;
	border-color:#2A5DB0!important;
}
.icon-carmine-pink{
	color:#E64C3C!important;
	border-color:#E64C3C!important;
}
.icon-dark-jungle-green{
	color:#202121!important;
	border-color:#202121!important;
}
.icon-white{
	color:#FFFFFF!important;
	border-color:#FFFFFF!important;
}


/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (min-width: 768px)
{
    .dropdown-menu {
		box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07);
    }
}
@media (max-width: 1024px)
{
    .home-nav {
        padding: 0px 15px 0px 15px !important;
    }
    .bloc{
        padding-left: 20px; 
        padding-right: 20px;  
    }
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .home-nav {
        padding: 0px 15px 0px 15px !important;
    }
    .container{width:100%;}
    .page-container, #hero-bloc{overflow-x: hidden;position: relative;} /* Prevent unwanted side scroll on mobile */
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .home-nav {
        padding: 0px 15px 0px 15px !important;
    }
    .page-container{
        overflow-x: hidden;
        position:relative;
    }
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .a-block{
        padding:0 10px;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
    .home-nav {
        padding: 0px 15px 0px 15px !important;
    }

	.img-diseas-style{
		height:478px;
	}
	.link-bloc-20-style{
		width:86.92%;
		padding-top:8px;
		padding-bottom:8px;
	}
	.container-div-0-style{
		width:73.55%;
		height:40px;
	}
	.container-div-style{
		width:10.17%;
	}
	.results-image{
		padding:10% 10% 10% 10%;
	}
	.h1-bloc-1-style{
		font-size:36px;
	}
	.proj-link{
		;
	}
	.proj-link:hover{
		background-color:#60C3FF;
		background-clip:text!important;
		-webkit-background-clip:text!important;
	}
	.card{
		margin:0.5% 0.5% 0.5% 0.5%;
	}
	.project{
		padding:20px 20px 20px 20px;
	}
	.h1-style{
		font-size:36px;
	}
	.h3-bloc-0-style{
		font-size:20px;
	}
	
	/* MD Row Margin Offsets */
	.voffset-clear-md{
		margin-top:0;
	}
		.voffset-md{
		margin-top:30px;
	}
		.voffset-md-md{
		margin-top:50px;
	}
	
	/* MD Text Margin Offsets */
	.mg-md-md{
		margin-top:10px;
		margin-bottom:20px;
	}
    .mg-lg-md{
        margin-top: 10px;
        margin-bottom:40px;
    }
    .mg-clear-md{
    	margin:0;
	}
	
}

@media (max-width: 767px){
    .home-nav {
        padding: 0px 15px 0px 15px !important;
    }

	.img-norm-style{
		height:378px;
	}
	.img-diseas-style{
		height:378px;
	}
	.personal-pic{
	}
	.p-77-style{
		font-size:20px;
	}
	.p-76-style{
		font-size:20px;
	}
	.h3-13241-style{
		font-size:24px;
	}
	.h3-28-style{
		font-size:24px;
	}
	.h3-29-style{
		font-size:24px;
	}
	.card{
	}
	.project{
		padding:15px 15px 15px 15px;
	}
	.h1-style{
		font-size:36px;
	}
	.h3-bloc-0-style{
		font-size:16px;
	}
	.h1-bloc-1-style{
		font-size:32px;
	}
	.h3-39400-style{
		font-size:14px;
	}
	.h1-bloc-7-style{
		font-size:32px;
	}
	.h1-bedonor-ux-r-d-style{
		font-size:32px;
	}
    .h1-12-style{
        font-size:32px;
    }
	
	/* Small Row Margin Offsets */
	.voffset-sm{
		margin-top:30px;
	}
		.voffset-md-sm{
		margin-top:50px;
	}
	
}

/* Small Text Margin Offsets */
	.mg-lg-sm{
    		margin-top: 10px;
    		margin-bottom:40px;
	}
	.mg-clear-sm{
		margin:0;
	}
	
}

@media (max-width: 575px){
    .home-nav {
        padding: 0px 15px 0px 15px !important;
    }

	.proj-link{
		;
	}
	.personal-pic{
		;
	}
	.img-norm-style{
		height:178px;
	}
	.img-diseas-style{
		height:178px;
	}
	.footer-btn1{
		padding:5% 5% 5% 5%;
	}
	.footer-btn2{
	}
	.h2-style{
		font-size:24px;
	}
	.p-76-style{
		font-size:16px;
	}
	.p-77-style{
		font-size:16px;
	}
	.h1-bloc-7-style{
		font-size:32px;
	}
	.h3-bloc-1-style{
		font-size:24px;
	}
	.h3-bedonor-ux-r-d-style{
		font-size:24px;
	}
	.h3-26-bloc-1-style{
		font-size:24px;
	}
	.h3-13241-style{
		font-size:24px;
	}
	.h3-28-style{
		font-size:24px;
	}
	.h3-29-style{
		font-size:24px;
	}
	.h1-style{
		font-size:20px;
		line-height:36px;
	}
	.project{
		padding:15px 15px 15px 15px;
	}
	.h3-bloc-0-style{
		font-size:12px;
	}
	.p-bloc-0-style{
		font-size:10px;
	}
	.h1-bloc-1-style{
		font-size:26px;
	}
	.h1-bloc-0-style{
		line-height:38px;
		font-size:32px;
	}
	.p-1-style{
		font-size:16px;
	}
	.img-img-8492--style{
		height:200px;
		width:150px;
	}
	.h1-bloc-49-style{
		font-size:32px;
	}
	.proj-img{
	}
	.h1-bedonor-ux-r-d-style{
		font-size:32px;
	}
	.p-bloc-49-style{
		font-size:10px;
	}
    .h1-bloc-63-style{
        font-size:40px;
    }
    .h1-12-style{
        font-size:32px;
    }
	.h2-bloc-47-style{
		font-size:32px;
	}
	.h2-bloc-48-style{
		font-size:32px;
	}
	
    /* Mobile Row Margin Offsets */
    .voffset-xs{
        margin-top:30px;
    }
    
    /* Mobile Text Margin Offsets */
    .mg-md-xs{
    	margin-top:10px;
	margin-bottom:20px;
	}
    .mg-lg-xs{
        margin-top: 10px;
        margin-bottom:40px;
    }
    .mg-clear-xs{
        margin:0;
    }
    
}

